body{
	
max-width:100vw;
margin: 0 auto;

	
}

img{

height:100%;
width:100%;

}

#section-a{
	background: #E6E6E6;
	
}

h1{
	
	text-align:center;
	font-family: 'Noticia Text', serif !important;
	font-size:40px !important;
}

button{
	
background:#D99813;
color:white !important;
border:none;
height:40px;

	
	
}


#home-booking-form div button{


width:90%;
max-width:400px;
margin: 0 auto;
position:relative;
top:40px;
display:block;

}

#home-booking-form input{
	
	height:60px;
	margin-top:20px;
	margin-left:15px;
	margin-right:15px;

	
}

hr{

border-color: #E5E5E5!important;

	
}







.grid-container{
	
display:grid;
	
}

.card{

border: 1px solid grey;
margin-left:15px;
margin-right:15px;
margin-top:70px;



}


.card-ul{
	
	padding: 0;
	list-style:none;

	
}



.book-button{
	
	margin: 0 auto;
	display: block;
	width:80vw;
	margin-bottom:20px;

	
	
}

.sign-buttons{


display:grid;
grid-template-columns:1fr 1fr;



	
	
}

.sign-buttons button{
	
width:130px;
margin: 0 auto;

	
}



.card-content{




}

.card-content h4{

position: relative;
left:30px;


}

.card-content ul{

margin-top:30px;

}

.package-details{


display:grid;
grid-template-columns: 50vw 50vw;
grid-template-rows: 50px;

}


.package-title{

font-family: 'Rokkitt', serif;
font-size:17px;
color: #D99813;



}


.price{

margin: 0 auto;	
color: #D99813;

	
}

.price h3{
	
	margin: 0 auto;
	font-weight:bold;
	margin-right:10px;
	
}

.price p{
	
	margin: 0 auto;
	color:black;
	font-size:10px;
	
}


#section-c button{
	
margin: 0 auto;
display:block;
	
}

section h4{
	
margin-left:15px;
	
	
}
section p{
	
margin-left:15px;
	
	
}

footer{
	
background: #2B2B2B;
	
	
}

footer hr{
	
width:20vw;
margin-left:15px;
border-color: #D99813 !important;


	
}

footer h3{
	
	margin-left: 15px;
	color:white;
	position:relative;
	top:10px;
	font-size:17px;
	font-family: 'Montserrat', sans-serif;
		
}

footer h5{
	
	margin-left: 15px;
	color:white;
	font-family: 'Noticia Text', serif;
	
}
footer p{
	
	margin-left: 15px;
	color:grey;
	font-family: 'Montserrat', sans-serif;
	
}

footer a{
	
color:#D99813;		
	
}

footer div{


display:grid;
grid-template-columns: 1fr;
margin-left:15px;
margin-right:15px;



}

footer input{


margin-top:10px;
height:50px;

}

.random{


width:100%;


}



.footer-submit{

width:170px;
margin: 0 auto;
margin-top:10px;



}

.newsletter{

width:100%;




}


.social-media-buttons{

display:grid;
grid-template-columns: repeat(6, 1fr);


}



.fa-2x{

color:white;
margin: auto;
position: relative;
left:20px;
top:10px;


}








