body{
	
max-width:960px;
margin: 0 auto;

	
}

img{

height:100%;
width:100%;

}

h1{
	
	text-align:center;
	
	
}



#home-booking-form div button{

margin: 0 auto;
display:block;
width:90%;
background:orange;
color:white;
border:none;
margin-top:10px;

}

#home-booking-form input{
	
	height:60px;
	margin-top:20px;

	
}







.grid-container{
	
	display:grid;

	
}

.card-ul{
	
	padding: 0;
	list-style:none;
	
}
