body{
	
max-width:100vw;
margin: 0 auto;

	
}

img{

height:100%;
width:100%;

}

#section-a{
	background: #E6E6E6;
	
}

h1{
	
	text-align:center;
	font-family: 'Noticia Text', serif !important;
	font-size:40px !important;
}

button{
	
background:#D99813;
color:white !important;
border:none;
height:60px;
	
	
}


#home-booking-form div button{


width:90%;
max-width:400px;
margin: 0 auto;
position:relative;
top:40px;
display:block;

}

#home-booking-form input{
	
	height:60px;
	margin-top:20px;

	
}







.grid-container{
	
display:grid;
	
}


.card-ul{
	
	padding: 0;
	list-style:none;
	
}

li img{
	
	margin-top:10px;
	
	
}

.book-button{
	
	margin: 0 auto;
	display: block;
	
	
}

.sign-buttons{


position:relative;
width:200px;
margin: 0 auto;

	
	
}

.sign-buttons button{
	
position:relative;
left:40px;

	
	
}

#section-c button{
	

margin: 0 auto;
display:block;
	
}







